/* #### DITO PO PAKI INSERT YUNG CSS CODES NINYO HEHE 
                SALAMAT SA DIOS #### */
:root {
  --orange: #d96710;
  --darkblue: #0e172a;
  --pink: #fa4282;
  --orange-pink-gradient: linear-gradient(270deg,rgba(217, 103, 16, 1) 0%,rgba(250, 66, 130, 1) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shippori Antique", sans-serif;
  /* transition: ease-in-out 0.1s; */
}

a{
  transition: ease-in-out 0.1s;
}

/* HAROLD - HOME | Question Page CSS */

.wrapper-home-1 {
  margin: auto;
  max-width: 1855px;
  overflow: auto;
  border-radius: 10px;
  font-family: "Shippori Antique", sans-serif;
  background-color: #34393e;
  color: white;
}

.flex-home-1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 20px;
}

#flex-home-item-1 {
  background-color: #fee3cd;
  padding: 20px;
}

#home-left-block, #home-right-block{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  flex-shrink: 1;
  width: 440px;
  height: 300px; 
}


.fa-magnifying-glass {
    font-size: 50px;
}

#left-block-button #button {
  background-color: var(--orange);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding: 15px 70px;
}

#left-block-button:hover{
  transform: scale(1.06);
}

#search-cont {
    font-size: 14px;
}

#search-cont #button-link {
    text-decoration: underline;
}

#flex-home-item-2 {
  background-color: #cde9fe;
  padding: 30px;
}

#small-text {
  font-size: 12px;
  color: #5a5f64;
}


.fa-lock {
    font-size: 50px;
}

#right-block-button-1,
#right-block-button-2
{
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: #d96710;
  font-size: 15px;
  color: white;
}

#right-block-button-1:hover,
#right-block-button-2:hover
{
  transform: scale(1.06);
}


#flex-home-item-1,
#flex-home-item-2 {
  margin: 40px 10px;
  border-radius: 10px;
}

#header-main {
    text-align: center;
    font-size: 40px;
    margin: 80px auto;
}

#text-primary {
  background: -webkit-linear-gradient(var(--orange), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* box-shadow: 1px 1px 30px chartreuse; */
  text-shadow: 1px 1px 40px var(--pink);
}
s
.header-wrapper {
  margin: 50px 0px;
}

.home-body {
  padding: 30px;
}


.home-info {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px;
  justify-content: center;
  text-align: center;
}

.home-info-items{
  font-size: 16px;
  padding: 40px;
  width: 17rem;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-title {
  background: -webkit-linear-gradient(var(--orange), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* box-shadow: 1px 1px 30px chartreuse; */
  /* text-shadow: 1px 1px 40px var(--pink); */
}


/* #### FLOAT CARDS ####  */

#float-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0px;
  /* border: 2px solid green; */
  
}


#float-card-1,
#float-card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 0px 40px;
  width: 460px;
  border-radius: 10px;
  background-color: rgb(166, 166, 255);
}

#float-card-1 div,
#float-card-2 div{
  margin: 5px 0px;
}

#float-card-1 {
  background: rgb(247,169,108);
  background: linear-gradient(0deg, rgba(247,169,108,1) 0%, rgba(255,255,255,1) 100%);
}

#float-card-2 {
  background: rgb(252,234,138);
  background: linear-gradient(0deg, rgba(252,234,138,1) 0%, rgba(255,255,255,1) 100%);
}
.card-head-logo img {
  width: 200px;
}

.card-img img{
  width: 500px;
}

.card-btn {
  background-color: var(--orange);
  color: white;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 6px;
  border-style: solid;
  border-color: var(--orange);
}

.card-btn:hover{
  transform: scale(1.06);
} 

#card-2-dual-btn .card-btn:hover {
  transform: scale(1.06);
}

.home-body-2-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  background-color: #34393e;
  color: white;

}
#home-body-2-tech-team-head {
  text-align: center;
  margin-bottom: 30px;
}

#home-body-2-tech-team-head h1 {
  font-size: 35px;
}

#home-body-2-head-logo img {
  width: 200px;
}

.home-body-2-item {

  margin: 20px 0px;
}

#home-body-2-head-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1px 20%;
}
#home-body-2-head-text h1 {
  font-size: 30px;
}

#home-body-2-head-text a {
  padding: 15px 25px;
  border-radius: 10px;
  margin: 30px 0px;
  color: white;
  /* border: 5px solid var(--orange); */
  background: -moz-linear-gradient(90deg, rgba(217,103,16,1) 0%, rgba(250,66,130,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(217,103,16,1) 0%, rgba(250,66,130,1) 100%);
  background: linear-gradient(90deg, rgba(217,103,16,1) 0%, rgba(250,66,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d96710",endColorstr="#fa4282",GradientType=1);
}

#home-body-2-head-text a:hover{
  transform: scale(1.06);
}

#home-body-2-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.feature-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  text-align: center;
}

#users-company-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#float-box-container {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.float-box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 250px;
  padding: 0px 80px;
  margin: 0px 5px;
  border-radius: 10px;
  background-color: #5a5f64;
  transition: ease-in-out 0.1s;
}

.float-box-item:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 40px var(--orange);
  background: -moz-linear-gradient(90deg, rgba(217,103,16,1) 0%, rgba(250,66,130,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(217,103,16,1) 0%, rgba(250,66,130,1) 100%);
  background: linear-gradient(90deg, rgba(217,103,16,1) 0%, rgba(250,66,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d96710",endColorstr="#fa4282",GradientType=1);
  cursor: pointer;
}

.float-box-item i {
  font-size: 29px;
  margin-bottom: 10px;
}

.fa-check-circle {
  font-size: 21px;
  color: greenyellow;
}



/* JESSA - SIGN-IN LOGIN | SIGN UP */



/* CRIS - COMPANY | JOBS */

/* PAUL JUSTINE - QUESTIONS | PROFILE PAGE */

/* JESSELY - TERMS AND SERVICE */

/* FOOTER */

.foot {
  clear: both;
  background: rgba(15, 15, 15, 0.719);
}
.topf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: aliceblue;
}
.con {
  list-style: none;
  /* margin-right: 40px; */
  margin: 20px;
  font-size: small;
}
.con li {
  margin-top: 10px;
  cursor: pointer;
  color: #ccc;
}
.con .chead {
  font-size: bold;
  color: #dd9e6d;
  
}
.small {
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  margin: 30px;
}
.small li {
  margin-right: 20px;
  list-style: circle;
  cursor: pointer;
}
