
/* Left-Bar */
.center{
    width: 100%;
    margin: auto;
}
.side-container{
    display: flex;
    margin: 0 50px;
    height: auto;
}
.left-bar{
    flex: 1;
   overflow: auto;
   height: 100vh;
   border-right: 1px solid rgb(113, 116, 113);
   padding-top: 15px;
   padding-bottom: 40px;
    
}
.left-bar li{
    list-style: none;
    margin-top: 20px;
    

}
.left-bar li a{

    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    
}
.left-bar ul{
    box-sizing: border-box;
    border-style:ridge;
    padding-bottom: 40px;   
    font-size: 15px;
}
.indent{
    padding-left: 20px;
}
.Teams{
    padding-left: 10px;
}
#button1 {
    border: 1px solid rgb(23, 73, 235);
    background-color: rgb(32, 70, 236);
    color: white;
}
#button2 {
    border: 1px solid rgb(23, 73, 235);
    color: rgb(23, 73, 235);
    margin-left: 10px;
    
}
#button1:hover{
    color: lightgray;
}
#button2:hover{
    background-color: lightgray;

}

/* User Content-------------------------------------------- */
.Questions{
    height: 100vh;
    flex: 4;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    overflow: auto;

}
.ques-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: auto;
    margin: 20px;
}
.ques-top h1{
    margin-bottom: 20px;
}
.ques-top button{
    cursor: pointer;
    background-color: rgb(3, 133, 184);
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 200px;

}
.ques-top ul{
    display: flex;
    list-style: none;
    margin-top: 10px; 
}
.ques-top li{
    font-size: smaller;
    border: 1px ridge orange;
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(223, 225, 226);
}
.ques-top li:hover{
    color: rgb(97, 95, 95);
}
.all-ques{
    margin: 20px;
}
.ques-container{
    display: flex;
    border-bottom: 2px solid grey;
    margin-top: 10px;
}

.comment p{
    margin-bottom: 10px;
    color: rgb(104, 99, 99);

}
.comment h3{
    margin-bottom: -5px;
    font-weight: normal;
    color: rgb(104, 99, 99);
}
.ques-container .title{
    margin-left:15px;
}
.ques-container .title h4{
    margin-bottom: 10px;
    font-size: 20px;
}
.title ul{
    display: flex;
    margin: 10px;
}
.title li{
    margin-right: 10px;
    list-style: none;
    border: 2px ridge grey;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(187, 227, 243);
    cursor: pointer;
}
.next-page{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.next-page ul{
    display: flex;
    list-style: none;
}
.next-page li{
    border: 2px solid grey;
    padding: 5px 7px;
    cursor: pointer;
    align-items: center;
}
.next-page li:hover{
    color: white;
    background-color:#f2740d;
}
.next-page p{
    margin: 10px;
}
/* Right side content---------------------------- */
.blog{
    border: 2px solid grey;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgba(254,247,236) ;
}
.blog h4{
    border: 1px ridge grey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(253, 239, 216);
}
.blog p{
     margin-bottom: 10px;
     margin-left: 20px;
     
}
.collectives{
    border: 2px ridge grey;
    margin-top: 20px;
    border-radius: 5px;
}
.services{
    margin: 20px;
    
}
.company{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.company img{
    width: 50px;
}
.company li{
    list-style: none;
}
.company ul .go{
    font-size: 20px;
    color: grey;
    cursor: pointer;
}
.company button{
    padding: 10px;
    cursor: pointer;
    color: rgb(48, 161, 206);
    border-color: rgb(48, 161, 206); ;
}
.services p{
    margin-top: 12px;
}
 .ads img{
    width: 300px;
    margin-top: 20px;
}
.related{
    margin: 20px;
}
.related h3{
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.related p{
    margin-bottom: 10px;
    color: rgb(104, 99, 99);
}
.related button{
    background-color: rgb(179, 219, 235);
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(36, 154, 201);
}
.related h5{
    color: rgb(53, 158, 199);
    cursor: pointer;
}
.hot-network{
    margin: 20px;

}
.hot-network h3{
    font-weight: normal;
    margin-bottom: 20px;
}
.hot-network p{
    color: rgb(36, 154, 201);
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 13.5px;

}
/* Footer --------------------------------------------------*/
.foot{

    bottom: 0;
    background: rgba(15, 15, 15, 0.719);
}
.topf{
    display: flex;
    justify-content: center;
    color: aliceblue;
   
}
.con{
    list-style: none;
    /* margin-right: 40px; */
    margin: 20px;
    font-size: small;

}
.con li{
    margin-top: 10px;
    cursor: pointer;
}
.con .chead{
    font-size: medium;
    
}
.small{
    display: flex;
    font-size: smaller;
    margin: 30px;
}
.small li{
    margin-right: 20px;
    list-style: circle;
    cursor: pointer;
}

