
/* User Content-------------------------------------------- */
.cusers{
    flex: 4;
    width: auto;
 

}
.user-box{
    margin: 20px;
    height: auto;
}
.box-gap{
    display: flex;
    justify-content: space-between;
}
.user-about{
    display: flex;

}
.user-pic{
    margin: 10px;

}
.Us{
    margin: 0 10px;
  
}
.Us h1{
    
    margin-top: 30px;
    margin-bottom: 10px
    
   
}
 .user-info {
    display: flex;

}
.user-info h5{
    margin-right: 20px;
    
}
.Network-prof{
 margin: 20px;  
 
}
.Network-prof a{
    
    color: #252f7b;
    border: 2px dashed rgb(0, 0, 0, 0.644);
    border-radius:5px;
    padding: 10px;

}
.Network-prof a:hover{
    background: var(--orange-pink-gradient);
}
.content-bar{

    padding-top: 20px;
}
.content-bar ul{
    padding-left: 10px;
    list-style: none;
    display: flex;
}
.wrap{
    display: flex;
    margin: 20px;
}
.stats{
    margin-right: 40px;
}
.center-count{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
    border: 2px ridge grey;
    border-radius: 20px;
    padding: 10px 25px;
    padding-right: 60px;
}
.count h2{
    font-weight: normal;
}
.count p{
    color: rgba(48, 50, 51, 0.541);
}
.community{
    margin: 20px 0;
}
.overflow{
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    border: 2px ridge gray;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.post-content{
    border: 2px ridge gray;
    width: 560px;
    height: 50vh;
    border-radius: 10px;
    background-color:rgb(235, 235, 235);
}
.post-content p{
    text-align: center;
}
.post-content img{
    width: 150px;
    margin: 100px 200px;
    margin-bottom: 20px;
}
/* Footer --------------------------------------------------*/
.foot{
    background: rgba(15, 15, 15, 0.719);
}
.topf{
    display: flex;
    justify-content: center;
    color: aliceblue;
   
}
.con{
    list-style: none;
    /* margin-right: 40px; */
    margin: 20px;
    font-size: small;

}
.con li{
    margin-top: 10px;
    cursor: pointer;
}
.con .chead{
    font-size: medium;
    
}
.small{
    display: flex;
    font-size: smaller;
    margin: 30px;
}
.small li{
    margin-right: 20px;
    list-style: circle;
    cursor: pointer;
}

