

/* Left-Bar */
.center{
    width: 1060px;
    margin: auto;
}
.side-container{
    justify-content: center;
    align-items: center;
}
.left-bar{
   
   float: left;
   /* justify-content: center;
   align-items: center; */
   /* height: 80vh; */
   /* border-style: solid; */
   overflow: hidden;
   border-right: 1px solid green;
   width: 17%;
   padding-top: 15px;
   padding-bottom: 20px;
    
}
.left-bar li{
    list-style: none;
    margin-top: 20px;
    

}
.left-bar li a{

    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    
}
.left-bar ul{
    box-sizing: border-box;
    border-style:ridge;
    padding-bottom: 40px;   
    font-size: 15px;
}
.indent{
    padding-left: 20px;
}
.Teams{
    padding-left: 10px;
}
#button1 {
    border: 1px solid rgb(23, 73, 235);
    background-color: rgb(32, 70, 236);
    color: white;
}
#button2 {
    border: 1px solid rgb(23, 73, 235);
    color: rgb(23, 73, 235);
    margin-left: 10px;
    
}
#button1:hover{
    color: lightgray;
}
#button2:hover{
    background-color: lightgray;

}

/* User Content-------------------------------------------- */
.cusers{
    margin-top: 20px;
    float: right;
    width: 83%;
    /* display: flex; */
    /* height: 550px; */
    /* box-sizing: border-box;
    border-style: 2px solid green; */
 
}
.users{
    float: left;
    padding-left: 20px;
    /* display: flex; */
    margin-right: 20px;
}
.Us{
    float: left;
}
.Us h1{
    
    margin-top: 30px;
    margin-bottom: 10px
    
   
}
.cusers .user-info {
    display: flex;

}
.user-info h5{
    margin-right: 20px;
  
}
.Network{
    float: right;
    color: rgba(0, 0, 0, 0.644);
    border-style:dashed;
    border-radius:5px;
    padding: 10px;
}
.Network a{
    color: black;

}
.Network:hover{
    background-color: rgb(243, 243, 243);
}
.content-bar{
    clear: both;
    padding-top: 20px;
}
.content-bar ul{
    padding-left: 10px;
    list-style: none;
    display: flex;
}
.wrap{
    display: flex;
    margin: 20px;
}
.stats{
    margin-right: 40px;
}
.center-count{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
    border: 2px ridge grey;
    border-radius: 20px;
    padding: 10px 25px;
    padding-right: 60px;
}
.count h2{
    font-weight: normal;
}
.count p{
    color: rgba(48, 50, 51, 0.541);
}
.community{
    margin: 20px 0;
}
.overflow{
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    border: 2px ridge gray;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.post-content{
    border: 2px ridge gray;
    width: 560px;
    height: 50vh;
    border-radius: 10px;
    background-color:rgb(235, 235, 235);
}
.post-content p{
    text-align: center;
}
.post-content img{
    width: 150px;
    margin: 100px 200px;
    margin-bottom: 20px;
}

/* Footer --------------------------------------------------*/
.foot{
    clear: both;
    background: rgba(15, 15, 15, 0.719);
}
.topf{
    display: flex;
    justify-content: center;
    color: aliceblue;
   
}
.con{
    list-style: none;
    /* margin-right: 40px; */
    margin: 20px;
    font-size: small;

}
.con li{
    margin-top: 10px;
    cursor: pointer;
}
.con .chead{
    font-size: medium;
    
}
.small{
    display: flex;
    font-size: smaller;
    margin: 30px;
}
.small li{
    margin-right: 20px;
    list-style: circle;
    cursor: pointer;
}

