*{
    margin: 0;
    padding: 0;
}
.logoo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logosss{
    width: 200px;
}
.top-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 60px;

 }
.left ul{
   display: flex;
   padding-right: 20px;
   list-style: none;
}
.right ul{
   display: flex;
   list-style: none;
}
.left li{
    margin-left: 20px;
    transition: box-shadow .3s;
    background-color: white;
    border-radius: 70px;
    padding: 10px;
    margin-right: 20px;
}
.left li:hover{
    box-shadow: 0 0 11px orange;
    background-color: orange;
}
.left a{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.right li{
    transition: box-shadow .3s;
    background-color: white;
    border-radius: 70px;
    padding: 10px;
    margin-right: 20px;
}
.right li:hover{
    box-shadow: 0 0 11px orange;
    background-color: orange;
}
.right a{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mid ul{
   display: flex;
   list-style: none;
   margin: 10px;
   
}
.mid li{

transition: box-shadow .3s;
background-color: white;
border-radius: 70px;
margin: 0px 20px;

}
.mid li:hover{
    box-shadow: 0 0 11px orange;
    background-color: orange;
}
.mid a{
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.content{
    display: flex;
    margin: 40px;
}

.pic{
flex: 1;
    
}
.pic img{
    width: 850px;
    height: 50vh;
}
.a{
   flex: 1;
}
.a h5{
  color: grey;
}
.a span{
    font-size: 3em;
    width: 300px;
}
.a h3{
    color: grey;
}
.a h4{
    color: grey;
    font-size: 19px;
}
.bot{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.wow{
    list-style: none;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px ridge rgb(214, 209, 209);
    padding: 40px;
    justify-content: center;
}
.wew{
    list-style: none;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 30px;
}
.wpw{
    padding-left: 70px;
}
.wkw{
    padding-left: 70px;
}
.txt-ba{
    display: flex;
}
.baa{

   font-size: 20px;
   color: grey;
}
.baba{
    margin: 70px;
   
}

.baaa{

    font-size: 20px;
    color: grey;
}
.babad{
    margin: 70px;
}
h1 {
    width: 100%; 
    text-align: center; 
    border-bottom: 0.5px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h1 span { 
     background:#fff; 
     padding:0 10px; 
 }
.abc{
  display: flex;
  justify-content:left;
  text-align: left;
  justify-content: space-evenly;
}
.def{
    list-style:none;
    float: left;
    margin: 30px;
    width: 250px;
}
.ppp{
    font-size: 25px;
    font-weight: bold;
}
.defe{
    list-style: none;
    margin: 30px;
    width: 250px;
}
.popo{
    font-size: 25px;
    font-weight: bold;
}
.abcd{
    display: flex;
    justify-content:left;
    text-align: left;
    justify-content: space-evenly;
  }
  .defd{
      list-style:none;
      float: left;
      margin: 30px;
      width: 250px;
  }
  .pppd{
      font-size: 25px;
      font-weight: bold;
  }
  .defed{
      list-style: none;
      margin: 30px;
      width: 250px;
  }
  .popod{
      font-size: 25px;
      font-weight: bold;
  }





/*footer*/
.foot {
    clear: both;
    background: rgba(15, 15, 15, 0.719);
  }
  .topf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
  }
  .con {
    list-style: none;
    /* margin-right: 40px; */
    margin: 20px;
    font-size: small;
  }
  .con li {
    margin-top: 10px;
    cursor: pointer;
  }
  .con .chead {
    font-size: medium;
    
  }
  .small {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    margin: 30px;
  }
  .small li {
    margin-right: 20px;
    list-style: circle;
    cursor: pointer;
  }




  @media only screen and (max-width:300px) {
    /* For mobile phones: */
    .logoo, .left, .right, .mid, .content, .a, .bot, .foot {
      width: 50%;
    }
  }