
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

.container {
    display: flex;
    font-family: 'Shippori Antique', sans-serif;
    justify-content: center;
    padding: 50px 100px;
}

.side-bar {
    width: 30%;
    height: 100%;
    box-shadow: 1px 1px 30px #bbb;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.side-bar:hover {
    transform: scale(1.02);
}

.public-net {
    /* border: 2px solid red; */
    padding: 20px;
}


.public-net li {
    padding: 10px;
    border-radius: 6px;
}

.public-net li:hover {
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

}

.no-bullets {
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    text-align: center;
    padding: 20px;
    color: white;
}

.agree {
    margin-top: 20px;
}

.boxx {
    width: 70%;
    padding: 20px;
    /* border: 2px solid red; */
    margin: 0px 20px;
}

.content-cell {
    margin: 20px 0px;
}

.content-cell p strong {
    margin-top: 20px;
    margin-bottom: 6px;
}

.content-cell h3 {
    margin-bottom: 5px;
}

.toc-links a {
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

h3 {
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.public h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.sub-heading {
    margin-top: 20px;
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media only screen and (max-width: 980px ) {
    .container {
        padding: 50px;
    }
}

@media only screen and (max-width: 840px ) {
    .container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .boxx {
        width: 100%;
    }

    .side-bar {
        width: 80%;
    }
    .side-bar:hover{
        box-shadow: 1px 1px 40px var(--orange);
    }
}